.person {
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 1em;

    &__info {
        list-style-type: none;
        display: inline-flex;
        margin-block-start: 0.5em;
        margin-block-end: 0.5em;
        padding-inline-start: 0px;
        font-size: 10px;
    }
}