.tree {
    font-size: 14px;

    &__path {
        stroke: #0a102e;
        opacity: 0.2;
        stroke-width: 1.5;
    }

    &__spouse-path {
        stroke: #df722f;
    }

    &__node {
        cursor: pointer;
        transition: fill 1s;
        fill: #3b0f01;

        &:hover {
            fill:  #912400;
        }
    }

    &__name-label {
        fill: #3b0f01;
        
        &--husband {
            cursor: pointer;
            &:hover {
                fill: #912400;
                transition: fill 1s;
            }
        }
    }

    &__spouse-label {
        fill: #0a102e;
        opacity: 0.25;
        font-style: italic;
    }

    &__tooltip {
        height: 100%;
        width: 100%;
    }
}