.tree {
    padding-top: 16em;
    font-size: 12px;

    &__node {
        cursor: pointer;
        transition: fill 1s;
        fill: #ccc;

        &:hover {
            fill:  #000FFF;
        }
    }

    &__name-label {

        &--husband {
            cursor: pointer;
            &:hover {
                fill: #000FFF;
                transition: fill 1s;
            }
        }
    }

    &__spouse-label {
        fill: #000FFF;
        opacity: 0.25;
        font-style: italic;
    }

    &__tooltip {
        height: 100%;
        width: 100%;
    }
}