@import '../../styles/variables.scss';

.tree {
    font-size: 14px;

    &__path {
        stroke: $redOrange;
        opacity: 0.2;
    }

    &__spouse-path {
        stroke: $redOrange;
    }

    &__node {
        cursor: pointer;
        transition: fill 1s;
        transition: stroke-width 4s ease;
        fill: $redOrange;
    }

    .tree_node--highlight {
        stroke-width: 20px;
        stroke: #0a102e29;
        stroke-dasharray: 44;
        animation: blink 2s infinite alternate;

        &:hover {

        }
    }

    @keyframes blink {
        to {
            stroke-width: 60px;
        }
    }

    &__name-label {
        fill: $deepBlue;
        
        &--husband {
            cursor: pointer;
            &:hover {
                fill: $redOrange;
                transition: fill 1s;
            }
        }
    }

    &__spouse-label {
        fill: $deepBlue;
        opacity: 0.25;
        font-style: italic;
    }

    &__tooltip {
        height: 100%;
        width: 100%;
    }
}
